@section scripts {
    @Scripts.Render("~/bundles/app")
}

<div class="page-header">
    <h1>Shopping List</h1>
</div>

<div class="row">
    <div class="col-md-12">
        <div class="panel panel-default">
            <div class="panel-heading">
                <h2 class="panel-title">Vets</h2>
            </div>

            <div class="panel-body">
                <ul class="list-unstyled" data-bind="foreach: shoppingListProducts">
                    <li>
                        <strong><span data-bind="text: Name"></span></strong>: <span data-bind="text: Brand"></span> | <span data-bind="text: Description"></span>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</div>

<div class="row">
    <div class="col-md-4">
        <div class="panel panel-default">
            <div class="panel-heading">
                <h2 class="panel-title">Add Product</h2>
            </div>

            <div class="panel-body">
                <form class="form-horizontal" data-bind="submit: addProduct" onsubmit="this.reset(); return false;">
                    <div class="form-group" data-bind="with: newProduct">
                        <label for="inputName" class="col-sm-4 control-label">Name</label>
                        <div class="col-sm-8">
                            <input type="text" class="form-control" id="inputName" data-bind="value:Name" />
                        </div>
                        <label for="inputBrand" class="col-sm-4 control-label">Brand</label>
                        <div class="col-sm-8">
                            <input type="text" class="form-control" id="inputBrand" data-bind="value:Brand" />
                        </div>

                        <label for="inputDescription" class="col-sm-4 control-label">Description</label>
                        <div class="col-sm-8">
                            <input type="text" class="form-control" id="inputDescription" data-bind="value:Description" />
                        </div>

                        <label for="inputImage" class="col-sm-4 control-label">Image</label>
                        <div class="col-sm-8">
                            <input type="text" class="form-control" id="inputImage" data-bind="value:Image" />
                        </div>
                    </div>
                    <button type="submit" class="btn btn-default">Submit</button>
                </form>
            </div>
        </div>
    </div>

    <div class="col-md-4">
        <div class="panel panel-default">
            <div class="panel-heading">
                <h2 class="panel-title">Products</h2>
            </div>
            <div class="panel-body">
                <ul class="list-unstyled" data-bind="foreach: products">
                    <li>
                        <strong><span data-bind="text: Name"></span></strong>: <span data-bind="text: Brand"></span>
                        <small><a href="#" data-bind="click: $parent.getProductDetail">Details</a></small>
                    </li>
                </ul>
            </div>
        </div>
        <div class="alert alert-danger" data-bind="visible: error">
            <p data-bind="text: error"></p>
        </div>
    </div>

    <div class="col-md-4">
        <!-- ko if:detail() -->
        <div class="panel panel-default">
            <div class="panel-heading">
                <h2 class="panel-title">Detail</h2>
            </div>
            <table class="table">
                <tr><td>Name</td><td data-bind="text: detail().Name"></td></tr>
                <tr><td>Brand</td><td data-bind="text: detail().Brand"></td></tr>
                <tr><td>Description</td><td data-bind="text: detail().Description"></td></tr>
                <tr><td>Image</td><td data-bind="text: detail().Image"></td></tr>
            </table>
        </div>
        <!-- /ko -->
    </div>
</div>
